{
    "token": "[discord token]",
    "mongo": {
        "uri": "[mongodb uri]",
        "db": "[database name]"
    },
    "channels": [
        357673249309589516,
        860960627060899880,
        ...
    ]
}